body {
    background-color: black;
    color:white;
}


.canvasContainer {
    display:flex;
    justify-content: center;
}

canvas {  
    image-rendering: pixelated;
    background-color: lightgreen;
    outline: black 2px solid;
    color:black;
}

h1 {
    text-align: center;
    font-size:300%;
}

